html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 92.5vh;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
}

#venue-address p {
    margin: 0;
}
#venue-address p:last-child {
    margin-bottom: 5px;
}

.navBar {
    background-color: #000;
    color: #fff;
    position: relative;
    text-align: center;
    /* width: 100vh; */
    /* height: 50px; */
}

.menu {
    width: 60px;
    height: 60px;
    float: left;
}
.icon {
    color: #fff;
    font-size: 30px;
    background-color: #000;
    border: none;
}
.icon i {
    margin: 20px;
}

.navBar h1 {
    margin: 0 15px;
    padding: 20px 0;
}

.sideBar {
    position: fixed;
    background-color: #000;
    color: #fff;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.sideBar h2 {
    margin: 0;
    padding: 0 15px;
}

.hidden {
    visibility: hidden;
}

.listingsButton {
    height: 40px;
    margin: 15px;
    border-radius: 5px;
    padding: 5px;

}
